<h1>This are the Order List for the Great Pizza Shop!</h1>
<h3>Parameters:</h3>
<p>Time Between calling the API Post in Seconds: <%= @time %></p>
<p>Times that will repeat the Calling: <%= @repeat_times %></p>
<table id="table-orders">
    <thead>
        <tr>    
            <th>Contact</th>
            <th>Delivery</th>
            <th>Details</th>
            <th>Production Process</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script>
$(function() {
    var i = <%= @repeat_times - 1 %>;
  var intervalId = setInterval(function(){

      if(i === 0){
            clearInterval(intervalId);
        }
            $.ajax({
                url: '/add_row',
                dataType: 'script'
            });
        i--;
  }, <%= @time %>);
});

</script>