
<table id="table-orders">
  <tr>
    <th>Contact</th>
    <th>Delivery</th>
    <th>Details</th>
    <th>Production Process</th>
  </tr>

</table>

<script>
$(function() {
  setInterval(refreshPartial, <%= @time %>);
});

function refreshPartial() {
  $.ajax({
            url: '/add_row',
            data: {
                simultaneous: <%= @simultaneous %>,
                time: <%= @time %>,
                repeat_times: <%= @repeat_times %>
            },
            dataType: 'script'
        });
}
</script>